{% extends "master" %}


{% block content %}
<div class="row">
  <div class="col m10 offset-m1 s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Create a New Post</span>
          <div class="row">
            <form action="/posts" method="POST" class="col s12">
              {{ csrfField }}
                <div class="row">
                <div class="input-field col s12">
                  <input class="title" type="text" name="title" id="title" value="{{ old('title') }}">
                  <label for="title">Title</label>
                </div>
                </div>
                <div class="row">
                <div class="input-field col s12">
                  <input class="post" type="text" name="post" id="post">
                  <label for="post">Post</label>
                </div>
                </div>
              <div class="card-action">
                <a href="/posts" class="btn blue-grey lighten-2">Cancel</a>
                <button class="btn deep-orange lighten-1">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}
