{% extends 'master' %}

{% block content %}
<h1>Welcome to Popular Posts!</h1>
<a class="waves-effect deep-orange lighten-1 btn ">Log In</a>
<a href="/register" class="waves-effect deep-orange lighten-1 btn">Register</a>

{% endblock %}
