// @import 'yoga';
// @import 'normalize';
// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'adonis';
@import 'buttons';

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  margin-top: 2rem;
}

.card {
  min-width: 25rem;
}

.collection-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.post-list__item {
  display: flex;
  flex-direction: column;
}

.post-info {
  margin: 1rem;
}

.subtitle {
  display: flex;
  flex-direction: row;
}

.read-more {
  margin-left: 0.5rem;
}
